html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    box-sizing: border-box;
    background-color: #efefe8;
}

img {
    vertical-align: middle;
}

* {
    font-family: 'Roboto', 'Inter' Arial, Helvetica, sans-serif, 'Heiti TC';
}

/* ===============預設=========== */

body {
    background-color: #FFDBDA;
    width: 1440px;
    /* height: 1024px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.main>img {
    width: 1320px;
    height: auto;
    display: flex;
    justify-content: center;
}

.content {
    background-image: url(../card/content.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 796px;
    display: flex;
    justify-content: space-between;
}

.flexslide {
    width: 40%;
    height: 700px;
    margin: 60px 0px 0px 150px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 10px 5px 5px #8d8d8b;
}

.slides {
    list-style-type: none;
    /* 移除列表项默认样式 */
    margin: 0;
    padding: 0;
    width: 100%;
    /* 设置图像列表高度为容器高度 */
    animation: verticalScroll 15s infinite;
    /* 应用垂直滚动动画 */
}

@keyframes verticalScroll {
    0% {
        transform: translateY(0);
        /* 初始位置 */
    }

    100% {
        transform: translateY(-80%);
        /* 滚动到最后一个图像位置 */
    }
}

.slides li {
    height: 40%;
    /* 设置列表项高度为容器高度 */
}

.slides li img {
    width: 100%;
    /* 图像填充列表项的高度 */
    display: block;
    /* 移除图像底部间隙 */
    margin: 0 auto;
    /* 水平居中图像 */
}


.text {
    width: 600px;
    line-height: 60px;
    margin: 100px 200px 100px 200px;
}

.text>p {
    font-size: 24px;
}

.sign>p {
    font-size: 24px;
    text-indent: 70%;
}


.photo_album {
    background-image: url(../card/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 796px;
    display: flex;
    align-items: center;
}
#carousel-container {
    width: 1320px;
    /* 设置容器宽度 */
    height: 50%;
    overflow: hidden;
    /* 隐藏超出容器宽度的内容 */
    border-radius: 20px;
    box-shadow: 10px 5px 5px #8d8d8b;
}


#image-list {
    list-style-type: none;
    /* 移除列表项默认样式 */
    margin: 0;
    padding: 0;
    white-space: nowrap;
    /* 防止换行 */
    animation: horizontalScroll 10s infinite;
    /* 应用水平滚动动画 */
}

@keyframes horizontalScroll {
    0% {
        transform: translateX(0);
        /* 初始位置 */
    }

    100% {
        transform: translateX(-800%);
        /* 滚动到最后一个图像位置 */
    }
}

#image-list li {
    display: inline-block;
    /* 图像水平排列 */
    width: 100%;
    /* 设置列表项宽度为容器宽度 */
    vertical-align: bottom;
    /* 图像顶部对齐 */
}

#image-list li img {
    width: 40%;
    /* 图像填满列表项的宽度 */
    display: block;
    /* 移除图像底部间隙 */
    margin: 0 auto;
    /* 水平居中图像 */
}

.bless{
    margin: 0 auto;
    width: 100%;
}

header { 
    position: absolute; top: 0; left: 0; width: 100%; font-weight: bold; z-index: 9; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); 
  }
  header .j-container { 
    display: flex; justify-content: space-between; align-items: center; 
  }

nav { 
    background-color: #0d500d; padding: 20px; position: absolute; top: 0; right: 0; 
    display: none; 
  }
  nav a { display: block; padding: .5rem 2rem; font-size: 17px; color: #fff; }
  nav .nav-close { 
    display: block; font-size: 2em; color: #fff;
    position: absolute; top: 10px; right: 10px; cursor: pointer; 
  }
  